<configuration>
    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/application.log</file>
        <encoder>
            <pattern>%date %-5level [%thread] %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>
    <logger name="com.example" level="DEBUG"/>
    <root level="INFO">
        <appender-ref ref="FILE"/>
    </root>
</configuration>